.profile_page {
    .profile_page_body {
        background-color: transparent;
        //box-shadow: 0 2px 12px rgb(0,0,0 / 60%);
        height: 100vh;

        .profile_item_controll {
            .profile_item-avatar {
                display: flex;
                border-bottom: 1px solid rgb(231, 231, 231);
                padding-bottom: 10px;
                margin-top: 16px;

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }

                .infor_profile {
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    margin-left: 10px;

                    h2 {
                        //display: flex;
                        color: rgba(247, 47, 47, 0.808);
                        justify-content: center;
                        align-items: center;
                        justify-items: center;
                        margin: 0;
                        font-size: 18px;
                    }

                    p {
                        //display: flex;
                        color: rgba(247, 47, 47, 0.808);
                        margin: 0;
                    }
                }
            }

            .profile_item-infor {
                padding-top: 30px;

                .infor {
                    display: flex;
                    width: 100%;
                    flex-flow: column;
                    align-items: flex-start;
                    padding-bottom: 20px;

                    a {
                        text-decoration: none;

                        &:hover {
                            text-decoration: none;
                        }
                    }

                    .profile {
                        border: none;
                        background-color: transparent;
                        padding-left: 30px;




                        i {

                            margin: 0;
                            color: rgb(13, 214, 80);
                        }

                        span {
                            color: rgb(112, 109, 109);
                            font-size: 16px;
                            font-style: italic;
                            text-transform: uppercase;
                            padding-left: 20px;
                        }

                        &.active span {
                            color: rgb(228, 129, 8);
                        }
                    }

                    .address {
                        border: none;
                        background-color: transparent;
                        padding-left: 30px;

                        i {

                            margin: 0;
                            color: rgb(245, 190, 11);
                        }

                        span {
                            color: rgb(112, 109, 109);
                            font-size: 16px;
                            font-style: italic;
                            text-transform: uppercase;
                            padding-left: 20px;
                        }

                        &.active span {
                            color: rgb(228, 129, 8);
                        }
                    }

                    .changePassword {
                        border: none;
                        background-color: transparent;
                        padding-left: 30px;

                        i {
                            margin: 0;
                            color: rgb(253, 239, 115);


                        }


                        span {
                            color: rgb(112, 109, 109);
                            font-size: 16px;
                            font-style: italic;
                            text-transform: uppercase;
                            padding-left: 15px;
                        }

                        &.active span {
                            color: rgb(228, 129, 8);
                        }
                    }

                }

                .infor_additional {
                    display: flex;
                    width: 100%;
                    flex-flow: column;
                    align-items: flex-start;

                    .order {
                        border: none;
                        background-color: transparent;

                        i {

                            margin: 0;
                            color: rgb(245, 151, 11);
                        }

                        span {
                            color: rgb(112, 109, 109);
                            font-size: 16px;
                            font-style: italic;
                            text-transform: uppercase;
                            padding-left: 20px;
                        }
                    }

                    .bank {
                        border: none;
                        background-color: transparent;


                        i {

                            margin: 0;
                            color: rgb(11, 105, 245);
                        }

                        span {
                            color: rgb(112, 109, 109);
                            font-size: 16px;
                            font-style: italic;
                            text-transform: uppercase;
                            padding-left: 20px;
                        }
                    }

                    .notification {
                        border: none;
                        background-color: transparent;


                        i {

                            margin: 0;
                            color: rgb(43, 250, 240);
                        }

                        span {
                            color: rgb(112, 109, 109);
                            font-size: 16px;
                            font-style: italic;
                            text-transform: uppercase;
                            padding-left: 20px;
                        }

                    }
                }
            }
        }


        .profile_item {
            background-color: #e4e1e163;
            border-bottom: 1px solid #bbb;

            .profile_item_header {
                border-bottom: 1px solid rgb(231, 231, 231);

                h3 {
                    margin: 0;
                    font-size: 1.125rem;
                    font-weight: 500;
                    line-height: 1.5rem;
                    text-transform: capitalize;
                    color: #333;
                }

                p {
                    margin-top: 0.1875rem;
                    font-size: .875rem;
                    line-height: 1.0625rem;
                    color: #555;
                }
            }


            .profile_item_body {
                margin-top: 20px;
                display: flex;

                .profile_item_info {
                    border-right: 1px solid #e4e1e163;

                    .profile_item_form{
                        padding-right: 1.125rem;

                    }
                }

                .profile_item_avatar {
                    display: flex;
                    flex-flow: column;
                    align-items: center;

                    .profile_iteam_avatar_body {
                        // border-left: 1px solid #bbb;
                        // display: flex;
                        // flex-flow: column;
                        // align-items: center;
                        overflow: hidden;
                        position: relative;
                        margin: 15px auto;
                        border: 1px solid #ddd;
                        border-radius: 50%;
                        cursor: pointer;
                        width: 100px;
                        height: 100px;
                        padding: 0;

                        img {
                            width: 100%;
                            height: 100%;
                            display: block;
                            object-fit: cover;
                        }

                        span {
                            position: absolute;
                            bottom: -100%;
                            left: 0;
                            width: 100%;
                            height: 50%;
                            background: #fff8;
                            text-align: center;
                            font-weight: 400;
                            text-transform: uppercase;
                            color: rgb(255, 140, 45);
                            transition: 0.3s ease-in-out;
                        }

                        &:hover span {
                            bottom: -15%;
                        }

                        #file_up {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            cursor: pointer;
                            opacity: 0;
                        }
                    }



                    p {
                        color: #999;
                        font-size: .875rem;
                        line-height: 1.25rem;
                        text-align: center;
                    }

                }
            }

        }
    }
}