.heights-48 {
    height: 48px;
}

.ProductCar {
    //padding-top: 20px;
    // height: 100vh;

    .ProductCar-Title {
        padding-top: 20px;

        h2 {
            font-style: italic;
            font-weight: 400;
            font-size: 48px;
            font-family: "MBCorpo Title", "DaimlerCAC-Regular", "DaimlerCACArab-Regular", serif;
        }
    }

    .ProductCar-Control {
        margin-left: 15px;
        margin-right: 15px;

        .ProductCar-Section {
            //padding-top: 20px;
            padding-bottom: 20px;

            .ProductCar-Button {
                display: flex;
                background-color: transparent;
                height: 102px;

                .ProductCar-Button-item {
                    align-items: center;
                    background: transparent;
                    display: flex;
                    height: 102px;
                    justify-content: space-between;
                    position: relative;
                    width: 100%;
                    z-index: 0;

                    .ProductCar-Button-Group-item {
                        background: #f4f4f4;
                        box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1), 0 2px 4px 0 rgba(0, 0, 0, .1);
                        display: flex;
                        font-family: "MBCorpo Text", "DaimlerCS-Regular", "DaimlerCSArab-Regular", sans-serif;
                        font-style: normal;
                        font-weight: 700;
                        scroll-snap-type: x proximity;
                        width: auto;
                        height: 56px;
                        border-bottom: 0;
                        align-items: center;

                        a {
                            color: #000 !important;
                            text-decoration: none;

                            &:hover {
                                text-decoration: none;
                            }
                        }

                        .Product-Button-1 {
                            min-width: 184px;
                            background: #fff;
                            border: 1px solid #bbb;
                            border-right: 0;
                            color: #262626;
                            cursor: pointer;
                            display: flex;
                            font-family: "MBCorpo Text", "DaimlerCS-Regular", "DaimlerCSArab-Regular", sans-serif;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            height: 100%;
                            justify-content: center;
                            line-height: 28px;
                            margin: 0;
                            padding: 12px 20px;
                            position: relative;
                            scroll-snap-align: start;
                            transition: color .2s ease-in-out;
                            white-space: nowrap;
                            z-index: 15;
                            margin-right: 2px;
                            border-right: 1px solid #bbb;
                            font-style: italic;

                            &.active {
                                background-color: #000;
                                border-color: #262626;
                                color: #fff !important;
                                fill: #fff;
                            }
                        }

                        .Product-Button-2 {
                            min-width: 184px;
                            background: #fff;
                            border: 1px solid #bbb;
                            border-right: 0;
                            color: #262626;
                            cursor: pointer;
                            display: flex;
                            font-family: "MBCorpo Text", "DaimlerCS-Regular", "DaimlerCSArab-Regular", sans-serif;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 700;
                            height: 100%;
                            justify-content: center;
                            line-height: 28px;
                            margin: 0;
                            padding: 12px 20px;
                            position: relative;
                            scroll-snap-align: start;
                            transition: color .2s ease-in-out;
                            white-space: nowrap;
                            z-index: 15;
                            margin-right: 2px;
                            border-right: 1px solid #bbb;
                            font-style: italic;

                            &.active {
                                background-color: #000;
                                border-color: #262626;
                                color: #fff !important;
                                fill: #fff;
                            }
                        }

                        .Product-Button-3 {
                            min-width: 184px;
                            background: #fff;
                            border: 1px solid #bbb;
                            border-right: 0;
                            color: #262626;
                            cursor: pointer;
                            display: flex;
                            font-family: "MBCorpo Text", "DaimlerCS-Regular", "DaimlerCSArab-Regular", sans-serif;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 700;
                            height: 100%;
                            justify-content: center;
                            line-height: 28px;
                            margin: 0;
                            padding: 12px 20px;
                            position: relative;
                            scroll-snap-align: start;
                            transition: color .2s ease-in-out;
                            white-space: nowrap;
                            z-index: 15;
                            margin-right: 2px;
                            border-right: 1px solid #bbb;
                            font-style: italic;

                            &.active {
                                background-color: #000;
                                border-color: #262626;
                                color: #fff !important;
                                fill: #fff;
                            }
                        }

                        .Product-Button-4 {
                            min-width: 184px;
                            background: #fff;
                            border: 1px solid #bbb;
                            border-right: 0;
                            color: #262626;
                            cursor: pointer;
                            display: flex;
                            font-family: "MBCorpo Text", "DaimlerCS-Regular", "DaimlerCSArab-Regular", sans-serif;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 700;
                            height: 100%;
                            justify-content: center;
                            line-height: 28px;
                            margin: 0;
                            padding: 12px 20px;
                            position: relative;
                            scroll-snap-align: start;
                            transition: color .2s ease-in-out;
                            white-space: nowrap;
                            z-index: 15;
                            border-right: 1px solid #bbb;
                            font-style: italic;

                            &.active {
                                background-color: #000;
                                border-color: #262626;
                                color: #fff !important;
                                fill: #fff;
                            }
                        }
                    }
                }


            }
        }

        .ProductCar-Body-item {
            padding-top: 20px;

            .Product-Item-Controll {
                flex-flow: column;

                .Product_Item_Controll-Energy {
                    padding-bottom: 10px;

                    h2 {
                        font-size: 18px;
                        font-weight: 700;
                        font-style: italic;
                        font-family: "MBCorpo Text", "DaimlerCS-Regular", "DaimlerCSArab-Regular", sans-serif;
                        margin-bottom: 10px;
                    }

                    .Product_Item_Energy {
                        color: #767676;

                        .Product-Item-Energy {
                            color: #767676;
                            font-size: 18px;
                            font-weight: 400;
                            font-style: italic;
                            font-family: "MBCorpo Text", "DaimlerCS-Regular", "DaimlerCSArab-Regular", sans-serif;
                            display: flex;
                            justify-content: flex-start;
                            transition: all 1s ease;

                            i {
                                display: flex;
                                align-items: center;
                            }

                            span {
                                display: flex;
                                margin-left: 10px;
                                align-items: center;
                            }

                            &:hover {
                                color: #fbd749 !important;
                            }

                            &.active {
                                color: #fbd749 !important;
                            }
                        }

                        a {
                            color: #000 !important;
                            text-decoration: none;

                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }

                .Product_Item_Controll-Body {
                    padding-top: 10px;
                    border-top: 1px solid #e7e4e4;

                    h2 {
                        font-size: 18px;
                        font-weight: 700;
                        font-style: italic;
                        font-family: "MBCorpo Text", "DaimlerCS-Regular", "DaimlerCSArab-Regular", sans-serif;
                        margin-bottom: 10px;
                    }

                    .Product_Item_Img {
                        display: flex;
                        color: #767676;
                        flex-flow: column;

                        .Product-Item-Car {
                            color: #767676;
                            font-size: 18px;
                            font-weight: 400;
                            font-style: italic;
                            font-family: "MBCorpo Text", "DaimlerCS-Regular", "DaimlerCSArab-Regular", sans-serif;
                            display: flex;
                            transition: all 1s ease;

                            img {
                                width: 50px;
                                filter: invert(50%) sepia(8%) saturate(15%) hue-rotate(314deg) brightness(90%) contrast(84%);
                            }

                            span {
                                display: flex;
                                align-items: center;
                                margin-left: 10px;
                            }

                            &:hover {
                                color: #1a9790;
                                filter: invert(47%) sepia(44%) saturate(5818%) hue-rotate(150deg) brightness(92%) contrast(80%);
                            }

                            &.active {
                                color: #1a9790;
                                filter: invert(47%) sepia(44%) saturate(5818%) hue-rotate(150deg) brightness(92%) contrast(80%);
                            }

                        }

                        a {
                            color: #000 !important;
                            text-decoration: none;

                            &:hover {
                                text-decoration: none;
                            }
                        }


                    }
                }
            }

            .Product-Item {
                //height: 100vh;
                border-left: 1px solid #e7e4e4;
            }
        }
    }
}

.product-all {

    .add-car {
        width: 100%;
        align-items: center;
        justify-content: flex-end;

        .controll-add-car {
            border-radius: 50%;
            height: 40px;
            width: 40px;
            background-color: #0a44b8;
            border: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            text-decoration: none;

            i {
                color: #e7e7e7;
            }

            &:hover {
                text-decoration: none;
            }
        }

        .delete-all {
            .Select-all {
                font-weight: 400;
                font-size: 22px;
                font-family: "MBCorpo Title", "DaimlerCAC-Regular", "DaimlerCACArab-Regular", serif;
            }

            // .checkbox-all{

            // }

            .button-delete-all{
                border-radius: 50%;
                border: 1px solid red;
                color: red;
            }
        }

    }

    .product-card {
        position: relative;
        height: 100%;
        margin-bottom: 20px;

        &:hover {
            text-decoration: none;
            // background: rgba(159, 201, 243, 0.128);
            background-color: transparent;
            box-shadow: 0 8px 32px 0 rgba(184, 220, 245, 0.1);
            border-radius: 10px;
            border: 1px solid rgba(122, 165, 215, 0.37);
            // border: 1px solid #f8d4d4;
            transition: all .4s ease-out;

            // visibility: visible;
            // opacity: 1;
        }

        // height: 280px;
        .product-card-link {
            text-decoration: none;
            color: #9f9f9f !important;
            display: flex;
            border-radius: 2px;
            box-sizing: border-box;
            text-align: center;
            flex-flow: column;
            padding-bottom: 20px;

            &:hover {
                text-decoration: none;
            }

            .product-car-header {
                display: flex;
                flex-direction: column;

                .product-card-name {
                    span {
                        color: #000;
                        -webkit-font-smoothing: antialiased;
                        word-wrap: normal;
                        font: inherit;
                        font-family: "MBCorpo Title", "DaimlerCAC-Regular", "DaimlerCACArab-Regular", serif;
                        font-size: 24px;
                        font-style: none;
                        font-weight: 400;
                        line-height: 2.5rem;
                        text-decoration: none;
                        word-break: break-word;
                    }
                }

                .product-card-type {
                    span {
                        font-family: "MBCorpo Title", "DaimlerCAC-Regular", "DaimlerCACArab-Regular", serif;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 16px;
                        margin-bottom: 2px;
                        margin-top: 8px;
                        text-align: center;
                    }
                }
            }

            .product-card-body {
                display: flex;

                .product-card-img {
                    display: flex;
                    overflow: hidden;
                    width: 240px;
                    height: 154px;
                    width: 100%;
                    cursor: pointer;
                    padding: 0;
                    vertical-align: middle;
                    padding-bottom: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                        display: block;
                        object-fit: cover;
                        border-radius: 10px;
                    }
                }
            }

            .product-card-bodys {
                display: flex;

                .product-card-img {
                    display: flex;
                    overflow: hidden;
                    width: 240px;
                    height: 154px;
                    width: 100%;
                    cursor: pointer;
                    padding: 0;
                    vertical-align: middle;
                    padding-bottom: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                        display: block;
                        object-fit: cover;
                        border-radius: 10px;
                    }
                }


            }
        }

        .custom-control-inputs {
            left: 0;
            width: 1rem;
            height: 1.25rem;
        }

        .product-car-control {
            display: flex;
            flex-flow: column;
            left: 0;
            width: 100%;
            z-index: 9;
            top: auto;
            animation-duration: .3s;
            //box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1), 0 4px 8px 0 rgba(0, 0, 0, .1);
            margin: -17px auto -20px;
            border-radius: 10px;
            transition: visibility 0s, opacity 0.5s linear;
            list-style: none;

            .product-car-detail {
                background: #f8f8f8;
                box-shadow: 0 8px 32px 0 rgba(88, 174, 231, 0.1);
                border-radius: 10px;
                border: 1px solid rgba(142, 202, 245, 0.37);
                border-bottom: 0;
                transition: color .3s;
                width: 100%;
                display: flex;
                margin: 2px;
                transition: all .5s ease;

                .detail-product {
                    font: inherit;
                    font-family: "MBCorpo Title", "DaimlerCAC-Regular", "DaimlerCACArab-Regular", serif;
                    font-size: .875rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.25rem;
                    padding: 0 14px;
                    align-items: center;
                    color: #333 !important;
                    display: flex;
                    text-decoration: none;
                    width: 100%;
                    text-align: center;
                    justify-content: flex-start;
                }

                &:hover {
                    background-color: rgba(221, 232, 244, 0.95);
                    color: #000;
                    font-weight: 600;
                }

                img {
                    width: 17px;
                    height: 17px;
                }

                span {
                    padding-left: 1rem;
                }
            }
        }
    }
}

.product-card-body {
    #customer-testimonoals .item {
        text-align: center;
        padding: 50px;
        margin-bottom: 0px;
        opacity: 0;
        transform: scale3d(0.8, 0.8, 1);
        transition: all 0.3s ease-in-out;
    }
}

.product-card-body {
    .owl-carousel {
        .owl-stage {
            .item {
                transform: translate3d(-90px, 0px, 0px) !important;
            }
        }

        .owl-dots {
            display: inline-block !important;
        }
    }
}



.product-card-bodys {
    #customer-testimonoals .item {
        text-align: center;
        padding: 50px;
        margin-bottom: 0px;
        opacity: 0;
        transform: scale3d(0.8, 0.8, 1);
        transition: all 0.3s ease-in-out;
    }
}

.product-card-bodys {
    .owl-carousel {
        .owl-stage {
            .item {
                transform: translate3d(-90px, 0px, 0px) !important;
            }
        }

        .owl-stage-outer {
            -webkit-transform: translate3d(20px, 0px, 0px) !important;
        }

        .owl-dots {
            display: inline-block !important;
        }
    }
}