.loadding {
    width: 100%;
    padding: 10px 0px;
    display: flex;
    top: 0;
    left: 0;
    background: #000;
    position: fixed;
    z-index: 100000;
    height: 100%;
    overflow: hidden;
}

.loadding-top {
    width: 90px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    animation: xoayvongLoading 10s linear 0s infinite;
    -webkit-animation: xoayvongLoading 10s linear 0s infinite;
    -moz-animation: xoayvongLoading 10s linear 0s infinite;
    -o-animation: xoayvongLoading 10s linear 0s infinite;
}

@-webkit-keyframes xoayvongLoading {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

@keyframes xoayvongLoading {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}