.form-all-baoduong-bg {
    background-color: #fff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1), 0 2px 4px 0 rgba(0, 0, 0, .1);

    .form-all-baoduong {


        .form-all-baoduong-item {
            img {
                width: 50px;
            }

        }
    }
}

.form-bg {
    background-color: black;

    img {
        width: 50px;
    }
}

.font-p {
    font-size: 14px;
}

.HoaDonHeaderModal {
    background-color: #fff !important;

    .modal-title {
        display: flex;
        align-items: center;

        img {
            width: 40px;
            padding-left: 5px;
        }
    }
}

.Modal-HoaDon {
    .form-dichvu-baoduong-tongtien-mr {
        margin-left: 5%;
        margin-right: 5%;

        .form-tong-tien-baoduong-body {
            .form-tongtin-baoduong-body-header-top {
                background-color: #000;

                span {
                    -webkit-font-smoothing: antialiased;
                    font: inherit;
                    font-family: "MBCorpo Text", "DaimlerCS-Regular", "DaimlerCSArab-Regular", sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 1.5rem;
                    line-height: 1.25rem;
                    color: #fff;
                }

                img {
                    width: 50px;
                }
            }

            .form-dichvu-baoduong-tongtien-bg {
                background-color: #fff;
                box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1), 0 2px 4px 0 rgba(0, 0, 0, .1);

                .form-tongtin-baoduong-body-user {
                    position: relative;

                    .form-tongtin-baoduong-body-user-title {
                        width: 100%;

                        span {
                            -webkit-font-smoothing: antialiased;
                            font: inherit;
                            font-family: "MBCorpo Text", "DaimlerCS-Regular", "DaimlerCSArab-Regular", sans-serif;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 1rem;
                            line-height: 1.25rem;
                        }

                    }

                    .boder {
                        border: 1px dotted rgba(0, 0, 0, .09);
                        width: 100%;
                        height: 0;
                    }

                    .border-p {
                        border: 1px solid rgba(0, 0, 0, .09);
                        width: 100%;
                        height: 0;
                    }
                }

                .form-tongtin-baoduong-body-header {
                    span {
                        -webkit-font-smoothing: antialiased;
                        font: inherit;
                        font-family: "MBCorpo Text", "DaimlerCS-Regular", "DaimlerCSArab-Regular", sans-serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 1rem;
                        line-height: 1.25rem;
                    }
                }

                .form-tongtin-baoduong-body {
                    .option-baoduong {

                        span {
                            -webkit-font-smoothing: antialiased;
                            font: inherit;
                            font-family: "MBCorpo Text", "DaimlerCS-Regular", "DaimlerCSArab-Regular", sans-serif;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 1rem;
                            line-height: 1.25rem;
                        }
                    }

                    .boder {
                        border: 1px dotted rgba(0, 0, 0, .09);
                        width: 100%;
                        height: 0;
                    }
                }
            }
        }
    }
}