.detail-product-car {
    background: linear-gradient(180deg, #000 0, #2e2e2e 300px, #000 1000px);
    // height: 1000vh;
    //padding-top: 15px;

    .DetailProduct {
        display: flex;
        flex-flow: column;

        .DetailProduct-header {
            background: #1d1d1df1;
            box-shadow: 0 8px 32px 0 rgba(223, 236, 244, 0.098);
            display: flex;
            flex-flow: column;
            padding-bottom: 10px;
            border-radius: 5px;
            //position: -webkit-sticky;
            //position: sticky;
            //top: 68px;
            margin-top: 5px;
            z-index: 2;
            border-bottom: 1px solid #63c4eb;
            //#9f9b9bc7;

            .DetailProduct-header-overview {
                padding-top: 10px;
                padding-left: 10px;
                padding-bottom: 10px;

                .overview-name {
                    display: flex;
                    flex-flow: column;

                    .name-car {
                        font-size: 20px;
                        font-weight: 600;
                        font-family: "MBCorpo Title", "DaimlerCAC-Regular", "DaimlerCACArab-Regular", serif;
                        color: #fff;
                    }

                    .LoaiXe {
                        span {
                            font-size: 20px;
                            font-weight: 600;
                            font-family: "MBCorpo Title", "DaimlerCAC-Regular", "DaimlerCACArab-Regular", serif;
                            color: #fff;
                        }
                    }
                }

                .overview-money {
                    .price-range {
                        font-size: 16px;
                        font-weight: 500;
                        font-family: "MBCorpo Title", "DaimlerCAC-Regular", "DaimlerCACArab-Regular", serif;
                        color: #c6c3c3;
                    }

                    .money-car {
                        font-size: 18px;
                        font-weight: 500;
                        font-family: "MBCorpo Title", "DaimlerCAC-Regular", "DaimlerCACArab-Regular", serif;
                        color: #fbd749;
                    }
                }
            }

            .DetailProduct-header-controll {
                display: flex;
                padding-top: 10px;
                background-color: transparent;

                .control-overview {
                    text-decoration: none;
                    color: #070707;
                    font-size: 18px;
                    font-weight: 600;
                    width: 160px;
                    margin-right: 20px;
                    background: rgba(255, 255, 255, 0.25);
                    box-shadow: 0 8px 32px 0 rgba(65, 67, 85, 0.37);
                    backdrop-filter: blur(4px);
                    -webkit-backdrop-filter: blur(4px);
                    border-radius: 10px;
                    border: 1px solid rgba(255, 255, 255, 0.18);
                    display: flex;
                    justify-content: center;
                    transition: all .4s ease-in;

                    &:hover {
                        text-decoration: none;
                        background-color: #070707;
                        color: #e6e6e6;
                    }

                    &.active {
                        background-color: #070707;
                        color: #e6e6e6;
                        border-bottom: 1px solid rgb(186, 137, 30);
                    }
                }
            }
        }

        .DetailProduct-body {
            //background-color: #eceef5;

            .DetailProduct-body-car {
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 5px;
                padding-right: 5px;

                .DetailProduct-TongQuan-name {
                    padding: 30px;
                    margin-top: 10px;
                    //background-color: #fff;

                    .DetailProduct-TongQuan {

                        .title-detailProduct {
                            //background-color: #0b0b0bf6;
                            color: #0088c6;
                            padding: 10px;
                            width: 100%;
                            border-radius: 10px;

                            span {
                                font-size: 20px;
                                font-weight: 600;
                                font-family: "MBCorpo Title", "DaimlerCAC-Regular", "DaimlerCACArab-Regular", serif;
                                text-transform: uppercase;
                            }

                            p {
                                color: #6ec7f0;
                            }
                        }

                        .DetailProduct-TongQuan-img {
                            display: flex;
                            justify-content: center;

                            img {
                                width: 659px;
                                padding-right: 15px;
                                padding-left: 10px;
                            }
                        }

                        .DetailProduct-TongQuan-img-mini {
                            padding: 10px;

                            img {
                                width: 120px;
                                // border-radius: 2px;
                                // border: 1px solid #eceef5;
                                margin-right: 5px;
                            }
                        }
                    }
                }

                .DetailProduct-TongQuan-money {
                    padding: 30px;
                    margin-top: 10px;
                    //background-color: #fff;
                    color: #fff;
                    border-top: 1px solid #44788de7;

                    h3 {
                        font-weight: 600;
                        font-family: "MBCorpo Title", "DaimlerCAC-Regular", "DaimlerCACArab-Regular", serif;
                        text-transform: uppercase;
                        color: #0088c6;
                    }

                    .DetailProduct-TongQuan-table-money {
                        table {
                            border: 1px solid #2e2e2e;
                            border-radius: .25rem;

                            td {
                                color: #fff;
                            }

                            th {
                                color: #fff;
                            }
                        }
                    }
                }

                .DetailProduct-ChiTiet-name {
                    padding: 30px;
                    margin-top: 10px;
                    //background-color: #fff;
                    border-top: 1px solid #44788de7;

                    span {
                        font-size: 20px;
                        font-weight: 600;
                        font-family: "MBCorpo Title", "DaimlerCAC-Regular", "DaimlerCACArab-Regular", serif;
                        text-transform: uppercase;
                        color: #0088c6;
                    }

                    .DetailProduct-ChiTiet {
                        padding-top: 10px;
                        color: #fff;

                        p {
                            text-align: justify;

                            img {
                                width: 655px;
                            }
                        }
                    }
                }

                .DetailProduct-ThongSoKyThuat-name {
                    padding: 30px;
                    margin-top: 10px;
                    //background-color: #fff;
                    border-top: 1px solid #44788de7;

                    span {
                        font-size: 20px;
                        font-weight: 600;
                        font-family: "MBCorpo Title", "DaimlerCAC-Regular", "DaimlerCACArab-Regular", serif;
                        text-transform: uppercase;
                        color: #0088c6;
                    }


                    .DetailProduct-ThongSoKyThuat {
                        color: #fff;

                        table {
                            border: 1px solid #dee2e6;
                            width: 100%;
                            max-width: 100%;
                            margin-bottom: 1rem;
                            background-color: transparent;
                            border-collapse: collapse;

                            th {
                                border-bottom-width: 2px;
                                vertical-align: bottom;
                                border-bottom: 2px solid #dee2e6;
                                border: 1px solid #dee2e6;
                                text-align: center;
                                background-color: #070707;
                                color: #fff;
                            }

                            td {
                                border-bottom-width: 2px;
                                vertical-align: bottom;
                                border-bottom: 2px solid #dee2e6;
                                border: 1px solid #dee2e6;
                                text-align: center;
                            }
                        }
                    }
                }
            }

            .DetailProduct-summary {
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 5px;
                padding-right: 5px;

                .DetailProduct-summary-name {
                    background-color: #fff;
                    padding: 30px 20px 20px 20px;
                    margin-top: 10px;

                    .title-detailProduct {
                        background-color: #0b0b0bf6;
                        color: #fff;
                        padding: 10px;
                        width: 100%;
                        border-radius: 10px;

                        span {
                            font-size: 20px;
                            font-weight: 600;
                            font-family: "MBCorpo Title", "DaimlerCAC-Regular", "DaimlerCACArab-Regular", serif;
                            text-transform: uppercase;

                        }
                    }

                    .detailProduct-body-Receipt {
                        padding-top: 30px;

                        padding-bottom: 20px;
                        border-bottom: 1px solid #e5e5e5;

                        .Receipt-body {
                            .Receipt-body-money {
                                span {
                                    font-size: 16px;
                                    font-weight: 600;
                                    font-family: "MBCorpo Title", "DaimlerCAC-Regular", "DaimlerCACArab-Regular", serif;
                                    text-transform: uppercase;
                                }
                            }

                            .Receipt-body-select-name {
                                .Receipt-body-select {
                                    border-radius: 5px;
                                    color: #000;
                                    font-size: 16px;
                                    font-weight: 600;
                                    width: 100%;
                                    outline: 0;
                                    box-shadow: none;

                                    width: 100%;
                                    height: 43.59px;
                                    color: hsl(0, 0%, 60%);
                                    font-weight: 600;
                                    font-size: 16px;
                                    padding: 2px 40px;
                                    overflow: hidden;

                                    align-items: center;
                                    background-color: hsl(0, 0%, 95%);
                                    border-color: hsl(0, 0%, 90%);
                                    border-radius: 4px;
                                    border-style: solid;
                                    border-width: 1px;
                                    cursor: default;
                                    display: -webkit-box;
                                    display: -webkit-flex;
                                    display: -ms-flexbox;
                                    display: flex;
                                    -webkit-box-flex-wrap: wrap;
                                    -webkit-flex-wrap: wrap;
                                    -ms-flex-wrap: wrap;
                                    flex-wrap: wrap;
                                    -webkit-box-pack: justify;
                                    -webkit-justify-content: space-between;
                                    justify-content: space-between;
                                    min-height: 38px;
                                    outline: 0 !important;
                                    position: relative;
                                    -webkit-transition: all 100ms;
                                    transition: all 100ms;
                                    box-sizing: border-box;
                                }

                                .input-icons {
                                    width: 100%;
                                    margin-bottom: 10px;


                                    i {
                                        position: absolute;
                                        z-index: 1;
                                    }

                                    i.icon {
                                        padding: 14px;
                                        min-width: 40px;
                                        color: #fbd749;
                                    }

                                }
                            }
                        }

                        .Receipt-body-nameCity {
                            padding-top: 20px;

                            .Receipt-nameCity-name {
                                span {
                                    font-size: 16px;
                                    font-weight: 600;
                                    font-family: "MBCorpo Title", "DaimlerCAC-Regular", "DaimlerCACArab-Regular", serif;
                                    text-transform: uppercase;
                                }
                            }

                            .Receipt-nameCity {
                                .Receipt-nameCity-input {
                                    width: 100%;
                                    height: 43.59px;
                                    color: hsl(0, 0%, 60%);
                                    font-weight: 600;
                                    font-size: 16px;
                                    padding: 2px 40px;
                                    overflow: hidden;

                                    align-items: center;
                                    background-color: hsl(0, 0%, 95%);
                                    border-color: hsl(0, 0%, 90%);
                                    border-radius: 4px;
                                    border-style: solid;
                                    border-width: 1px;
                                    cursor: default;
                                    display: -webkit-box;
                                    display: -webkit-flex;
                                    display: -ms-flexbox;
                                    display: flex;
                                    -webkit-box-flex-wrap: wrap;
                                    -webkit-flex-wrap: wrap;
                                    -ms-flex-wrap: wrap;
                                    flex-wrap: wrap;
                                    -webkit-box-pack: justify;
                                    -webkit-justify-content: space-between;
                                    justify-content: space-between;
                                    min-height: 38px;
                                    outline: 0 !important;
                                    position: relative;
                                    -webkit-transition: all 100ms;
                                    transition: all 100ms;
                                    box-sizing: border-box;
                                }

                                .input-icons {
                                    width: 100%;
                                    margin-bottom: 10px;


                                    i {
                                        position: absolute;
                                        z-index: 1;
                                    }

                                    i.icon {
                                        padding: 14px;
                                        min-width: 40px;
                                        color: #3d0e8e;
                                    }

                                }
                            }
                        }

                        .Money-Receipt {
                            padding-top: 20px;

                            span.title-Money-Receipt {
                                font-size: 16px;
                                font-weight: 600;
                                text-transform: uppercase;
                                color: #000;
                                font-family: "MBCorpo Title", "DaimlerCAC-Regular", "DaimlerCACArab-Regular", serif;
                            }
                        }
                    }

                    .Receipt-incurred {
                        padding-top: 30px;

                        padding-bottom: 20px;

                        .table>:not(caption)>*>* {
                            padding: 0.75rem;
                        }

                        tr {
                            th {
                                font-weight: 600;
                            }
                        }

                        tr {
                            th.money-td {
                                text-align: right;
                            }
                        }

                        tr.tongtien {
                            font-weight: 700;
                            font-size: 16px;
                        }

                        tr {
                            td.money-td {
                                display: flex;
                                justify-content: flex-end;
                            }
                        }


                    }

                    .SetTime-TextCar {
                        // padding-top: 30px;
                        padding-bottom: 20px;

                        .SetTime-TextCar-Name {
                            span {
                                font-size: 16px;
                                font-weight: 600;
                                text-transform: uppercase;
                                color: #000;
                                font-family: "MBCorpo Title", "DaimlerCAC-Regular", "DaimlerCACArab-Regular", serif;
                            }
                        }
                    }

                    .Title-note {
                        display: flex;

                        span {
                            i {
                                color: red;
                                padding-right: 5px;
                            }
                        }

                        p {
                            color: red;
                            font-size: 14px;
                            font-style: italic;
                            font-family: "MBCorpo Title", "DaimlerCAC-Regular", "DaimlerCACArab-Regular", serif;
                        }
                    }

                    .Submit {
                        padding-top: 20px;
                        display: flex;
                        justify-content: center;

                        .Submit-car {
                            border-radius: 5px;
                            border: 1px solid #e5e5e5;
                            color: rgb(243, 239, 239);
                            font-size: 16px;
                            background-color: #4d8feb;
                            padding: 15px 30px 15px 30px;

                            &:hover {
                                background-color: #0d52b4;
                                transition: all .4 ease-in;
                            }
                        }
                    }
                }
            }
        }
    }
}

.ant-picker {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: #070707 !important;
}

.ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single):not(.ant-picker-cell-range-start) .ant-picker-cell-inner {
    border-radius: 50% !important;
}

.ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single):not(.ant-picker-cell-range-end) .ant-picker-cell-inner {
    border-radius: 50% !important;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
    border-radius: 50% !important;
}

.ant-picker-cell .ant-picker-cell-inner {
    border-radius: 50% !important;
}

.ant-picker-cell.ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-start {
    border-radius: 50% !important;
}

.ant-picker-cell-disabled::before {
    background: rgba(0, 0, 0, 0.04);
    border-radius: 50%;
}

.ant-picker-cell::before {
    position: absolute;
    top: 50%;
    right: 0;
    left: 6px !important;
    z-index: 1;
    height: 24px;
    width: 24px;
    /* align-items: center; */
    transform: translateY(-50%);
    /* transform: translateX(30%); */
    transition: all 0.3s;
    content: '';
}

.ant-picker-cell-in-view.ant-picker-cell-in-range::before {
    background: #e6f7ff;
    border-radius: 50%;
}

.ant-picker-cell-in-view.ant-picker-cell-in-range::after {
    background: #e6f7ff;
    border-radius: 50%;
}

.ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single)::before,
.ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single)::before {
    background: #e6f7ff;
    border-radius: 50% !important;
}

.ant-picker-cell.ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover {
    border-radius: 50% !important;

    &:hover {
        border-radius: 50% !important;
    }
}

.ant-picker-cell.ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-end {
    border-radius: 50% !important;

    &:hover {
        border-radius: 50% !important;
    }
}

.ant-picker-cell.ant-picker-cell-in-view.ant-picker-cell-in-range {
    &:hover {
        border-radius: 50% !important;
    }
}

.ant-picker-cell.ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-start {
    border-radius: 50% !important;

    &:hover {
        border-radius: 50% !important;
    }
}

.ant-picker-cell.ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-end {
    border-radius: 50% !important;

    &:hover {
        border-radius: 50% !important;
    }
}

.ant-picker-date-panel .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-start .ant-picker-cell-inner::after {
    right: 0 !important;
    left: 0;
    border-radius: 50%;
}

.ant-picker-input>input {
    padding: 10px !important;
}

.ant-picker-range-separator {
    align-items: center;
    padding: 0px 10px 10px !important;
    line-height: 1;
}

.SRLCaptionContainer {
    p {
        display: none !important;
    }

}


.DetailProduct-header-controll {
    width: 0;
    height: 0;
    position: sticky;
    top: 40%;
    z-index: 2;
    //left: 15px;

    .formHover-button {
        transform: translateX(10px);
        padding: 10px 0 10px 0;
        transition: transform 0.5s ease 0s;

        .control-overview {
            text-decoration: none;
            color: #fff !important;
            font-size: 16px;
            width: 100%;
            height: 40px;
            // line-height: 40px;
            //margin-right: 20px;
            //display: flex;
            padding: 5px 5px 5px 10px;
            transition: max-width 300ms, background-color 300ms, padding 300ms;

            .span-icon {
                &::before {
                    font-family: "Font Awesome 5 Free";
                    content: "\f111";
                    display: inline-block;
                    padding-right: 3px;
                    vertical-align: middle;
                    font-weight: 900;
                    font-size: 10px;
                }
            }

            i {
                font-size: 10px;
            }

            &:hover {
                text-decoration: none;
                color: #00adef;
            }

            &.active {
                color: #00adef !important;

                .span-icon {
                    &::before {
                        font-family: "Font Awesome 5 Free";
                        content: "\f192";
                        display: inline-block;
                        padding-right: 3px;
                        vertical-align: middle;
                        font-weight: 900;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .formHover-button-hover {
        // border: 1px solid #5c5b5b;
        background-color: #161616;
        width: 210px;
        // padding-bottom: 10px;
        // padding-left: 10px;
        padding: 10px 10px 10px 10px;
        opacity: .90;
        //transition: max-width 300ms, background-color 300ms, padding 300ms;

        .formHover {
            transition: transform 0.5s ease 0s;
            transform: translateX(5px);

            .control-overview {
                text-decoration: none;
                color: #fff !important;
                font-size: 16px;
                height: 40px;
                //line-height: 40px;
                width: 100%;
                margin-right: 20px;
                display: flex;
                padding: 5px 5px 5px 10px;

                .span-icon {
                    &::before {
                        font-family: "Font Awesome 5 Free";
                        content: "\f111";
                        display: inline-block;
                        padding-right: 3px;
                        vertical-align: middle;
                        font-weight: 900;
                        font-size: 10px;
                    }
                }

                i {
                    font-size: 10px;
                }

                &:hover {
                    text-decoration: none;
                    color: #00adef !important;
                }

                &.active {
                    color: #00adef !important;

                    .span-icon {
                        &::before {
                            font-family: "Font Awesome 5 Free";
                            content: "\f192";
                            display: inline-block;
                            padding-right: 3px;
                            vertical-align: middle;
                            font-weight: 900;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

.controler-right {
    width: 0;
    height: 0;
    position: sticky;
    top: 40%;
    z-index: 2;
    left: calc(100% - 45px);

    .controler-right-button {
        min-width: 45px;
        height: 45px;
        display: inline-flex;
        transition: transform 0.5s ease 0s;
        transform: translateX(0px);
        margin-bottom: 1.5px;

        &:hover {
            transform: translateX(-135px);
            transition: -webkit-transform 0.5s ease 0s;
            width: 250px;
        }

        .laithu-product {
            background-color: #00adef;
            display: flex;
            white-space: nowrap;
            padding: 0;
            min-width: 45px;
            min-height: 45px;
            align-items: center;
            padding-left: 10px;
            padding-right: 10px;
            width: 250px;

            &:hover {
                background: #0088c6;
            }

            .img-steering-wheel {
                width: 25px;
                height: 25px;
            }

            span {
                font-size: 1rem;
                font-family: "MBCorpoSTitle-Regular-Web", "DaimlerCS-Regular", Helvetica, Arial, sans-serif;
                line-height: 1.25;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                padding-top: 0.00912em;
                padding-bottom: 0.15788em;
                height: 45px;
                line-height: 45px;
                margin-left: 5px;
                padding-right: 15px;
                padding-left: 5px;
            }
        }
    }
}