body{
    font-size: 1rem !important;
    //background-color: #eceef5 !important;
}


.home-header {
    width: 100%;
    height: 68px;
    //border-bottom: 1px solid rgb(199, 198, 198);

    .home-header-container {
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
        margin-left: auto;
        margin-right: auto;
        background-color: #000;
        position: fixed;
        z-index: 1000;
        margin-bottom: 5px;

        .row {
            .left-header {
                display: flex;
                align-items: center;

                @media (max-width: 768px) {
                    width: 49%;
                }

                .logo-header {
                    display: flex;

                    .logo-header-img {
                        margin: 0 auto;
                        border-radius: 50%;
                        overflow: hidden;
                        animation: xoayvong 20s linear 0s infinite;
                        -webkit-animation: xoayvong 20s linear 0s infinite;
                        -moz-animation: xoayvong 20s linear 0s infinite;
                        -o-animation: xoayvong 20s linear 0s infinite;

                        img {
                            width: 50px;
                        }

                        @-webkit-keyframes xoayvong {
                            from {
                                -webkit-transform: rotate(0deg);
                                -moz-transform: rotate(0deg);
                                -o-transform: rotate(0deg);
                            }

                            to {
                                -webkit-transform: rotate(360deg);
                                -moz-transform: rotate(360deg);
                                -o-transform: rotate(360deg);
                            }
                        }

                        @keyframes xoayvong {
                            from {
                                -webkit-transform: rotate(0deg);
                                -moz-transform: rotate(0deg);
                                -o-transform: rotate(0deg);
                            }

                            to {
                                -webkit-transform: rotate(360deg);
                                -moz-transform: rotate(360deg);
                                -o-transform: rotate(360deg);
                            }
                        }

                        .img {
                            display: block;
                            width: 100%;
                        }
                    }
                }

                .title-header {
                    display: flex;
                    justify-items: center;
                    align-items: center;

                    h4 {
                        font-size: 20px;
                        font-weight: 400;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        color: rgba(218, 216, 216, 0.87);
                        margin-bottom: 0px;
                        font-family: "MBCorpo Title","DaimlerCAC-Regular","DaimlerCACArab-Regular",serif;
                    }

                    a {
                        text-decoration: none;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }

            .left-none-header {
                @media (max-width: 768px) {
                    width: 40%;
                }
            }

            .right-header {
                display: flex;
                //width: 10%;

                justify-content: flex-start;

                @media (max-width: 768px) {
                    width: 10%;
                }

                .right-header-login {
                    display: flex;
                    justify-items: center;
                    align-items: center;
                    margin: 0;

                    .button-login {
                        border: none;
                        width: 50px;
                        height: 50px;
                        color: #ccc;
                        background: #000;
                        transition: filter 300ms;

                        &:hover {
                            filter: brightness(1.2);
                            color: rgb(174, 243, 147);
                            transition: all 0.4s;
                        }

                        .avatar {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            border: solid rgb(3, 3, 3);

                        }
                    }
                }
            }
        }
    }
}