.profile_page {
    background-color: #eceef5;
    padding-bottom: 5rem;

    .profile_page_body {
        background-color: transparent;
        //box-shadow: 0 2px 12px rgb(0,0,0 / 60%);

        .profile_item_controll {
            position: sticky;
            top: 12%;
            height: 100%;
            padding: 10px;
            border: 1px solid rgb(211, 204, 204);
            border-radius: 20px;
            margin-right: 10px;
            transition: all 0.5s ease;
            background: rgba(215, 225, 235, 0.128);
            box-shadow: 0 8px 32px 0 rgba(155, 207, 242, 0.37);

            .profile_item-avatar {
                display: flex;
                border-bottom: 1px solid rgb(231, 231, 231);
                padding-bottom: 10px;
                margin-top: 16px;
                transition: all 0.5s ease;

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }

                .infor_profile {
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    margin-left: 10px;
                    transition: all 0.5s ease;

                    h2 {
                        //display: flex;
                        color: rgba(247, 47, 47, 0.808);
                        justify-content: center;
                        align-items: center;
                        justify-items: center;
                        margin: 0;
                        font-size: 18px;
                    }

                    p {
                        //display: flex;
                        color: rgba(247, 47, 47, 0.808);
                        margin: 0;
                    }
                }
            }

            .profile_item-infor {
                padding-top: 20px;
                padding-bottom: 20px;
                transition: all 0.5s ease;

                .infor {
                    display: flex;
                    width: 100%;
                    flex-flow: column;
                    border-bottom: 1px solid #e7e7e7;

                    a {
                        text-decoration: none;

                        &:hover {
                            text-decoration: none;
                        }
                    }

                    .profile {
                        background: rgba(215, 225, 235, 0.128);
                        box-shadow: 0 8px 32px 0 rgba(155, 207, 242, 0.37);
                        border-radius: 10px;
                        border: 1px solid rgba(155, 207, 242, 0.37);
                        padding-top: 0.5rem;
                        padding-bottom: 0.5rem;
                        padding-left: 1rem;
                        padding-right: 1rem;
                        margin-bottom: 5px;

                        i {

                            margin: 0;
                            color: rgb(13, 214, 80);
                        }

                        span {
                            font-weight: 700;
                            font-family: "MBCorpo Title", "DaimlerCAC-Regular", "DaimlerCACArab-Regular", serif;
                            color: rgb(112, 109, 109);
                            font-size: 16px;
                            font-style: italic;
                            text-transform: uppercase;
                            padding-left: 20px;
                        }

                        &.active {
                            font-weight: 700;
                            font-family: "MBCorpo Title", "DaimlerCAC-Regular", "DaimlerCACArab-Regular", serif;
                            color: rgb(30, 228, 8);
                            background-color: rgba(105, 210, 96, 0.231);
                            transition: all 0.4 ease;
                        }
                    }

                    .category {
                        background: rgba(215, 225, 235, 0.128);
                        box-shadow: 0 8px 32px 0 rgba(155, 207, 242, 0.37);
                        border-radius: 10px;
                        border: 1px solid rgba(155, 207, 242, 0.37);
                        padding-top: 0.5rem;
                        padding-bottom: 0.5rem;
                        padding-left: 1rem;
                        padding-right: 1rem;
                        margin-bottom: 5px;

                        i {

                            margin: 0;
                            color: #1E90FF;
                        }

                        span {
                            font-weight: 700;
                            font-family: "MBCorpo Title", "DaimlerCAC-Regular", "DaimlerCACArab-Regular", serif;
                            color: rgb(112, 109, 109);
                            font-size: 16px;
                            font-style: italic;
                            text-transform: uppercase;
                            padding-left: 20px;
                            font-weight: 700;
                        }

                        &.active {
                            font-weight: 700;
                            font-family: "MBCorpo Title", "DaimlerCAC-Regular", "DaimlerCACArab-Regular", serif;
                            color: rgb(8, 122, 228);
                            background-color: rgba(59, 49, 234, 0.231);
                            transition: all 0.4 ease;
                        }
                    }

                    .address {
                        background: rgba(215, 225, 235, 0.128);
                        box-shadow: 0 8px 32px 0 rgba(155, 207, 242, 0.37);
                        border-radius: 10px;
                        border: 1px solid rgba(155, 207, 242, 0.37);
                        padding-top: 0.5rem;
                        padding-bottom: 0.5rem;
                        padding-left: 1.1rem;
                        padding-right: 1.1rem;
                        margin-bottom: 5px;

                        i {

                            margin: 0;
                            color: rgb(245, 190, 11);
                        }

                        span {
                            font-weight: 700;
                            font-family: "MBCorpo Title", "DaimlerCAC-Regular", "DaimlerCACArab-Regular", serif;
                            color: rgb(112, 109, 109);
                            font-size: 16px;
                            font-style: italic;
                            text-transform: uppercase;
                            padding-left: 20px;
                        }

                        &.active {
                            font-weight: 700;
                            font-family: "MBCorpo Title", "DaimlerCAC-Regular", "DaimlerCACArab-Regular", serif;
                            color: rgb(228, 228, 8);
                            background-color: rgba(234, 234, 49, 0.231);
                            transition: all 0.4 ease;
                        }
                    }

                    .changePassword {
                        background: rgba(215, 225, 235, 0.128);
                        box-shadow: 0 8px 32px 0 rgba(155, 207, 242, 0.37);
                        border-radius: 10px;
                        border: 1px solid rgba(155, 207, 242, 0.37);
                        padding-top: 0.5rem;
                        padding-bottom: 0.5rem;
                        padding-left: 1rem;
                        padding-right: 1rem;
                        margin-bottom: 5px;

                        i {
                            margin: 0;
                            color: #000;
                        }


                        span {
                            font-weight: 700;
                            font-family: "MBCorpo Title", "DaimlerCAC-Regular", "DaimlerCACArab-Regular", serif;
                            color: rgb(112, 109, 109);
                            font-size: 16px;
                            font-style: italic;
                            text-transform: uppercase;
                            padding-left: 15px;
                        }

                        &.active {
                            font-weight: 700;
                            font-family: "MBCorpo Title", "DaimlerCAC-Regular", "DaimlerCACArab-Regular", serif;
                            color: rgb(6, 6, 5);
                            background-color: rgba(10, 10, 9, 0.231);
                            transition: all 0.4 ease;
                        }
                    }

                }

                .infor_additional {
                    display: flex;
                    width: 100%;
                    flex-flow: column;
                    padding-top: 20px;
                    transition: all 0.5s ease;

                    .order {
                        border: none;
                        background-color: transparent;

                        i {

                            margin: 0;
                            color: rgb(245, 151, 11);
                        }

                        span {
                            font-weight: 700;
                            font-family: "MBCorpo Title", "DaimlerCAC-Regular", "DaimlerCACArab-Regular", serif;
                            color: rgb(112, 109, 109);
                            font-size: 16px;
                            font-style: italic;
                            text-transform: uppercase;
                            padding-left: 20px;
                        }
                    }

                    .bank {
                        border: none;
                        background-color: transparent;
                        transition: all 0.5s ease;


                        i {

                            margin: 0;
                            color: rgb(11, 105, 245);
                        }

                        span {
                            font-weight: 700;
                            font-family: "MBCorpo Title", "DaimlerCAC-Regular", "DaimlerCACArab-Regular", serif;
                            color: rgb(112, 109, 109);
                            font-size: 16px;
                            font-style: italic;
                            text-transform: uppercase;
                            padding-left: 20px;
                        }
                    }

                    .notification {
                        border: none;
                        background-color: transparent;
                        transition: all 0.5s ease;


                        i {

                            margin: 0;
                            color: red;
                        }

                        span {
                            font-weight: 700;
                            font-family: "MBCorpo Title", "DaimlerCAC-Regular", "DaimlerCACArab-Regular", serif;
                            color: rgb(112, 109, 109);
                            font-size: 16px;
                            font-style: italic;
                            text-transform: uppercase;
                            padding-left: 20px;
                            font-family: "MBCorpo Title", "DaimlerCAC-Regular", "DaimlerCACArab-Regular", serif;
                        }

                    }
                }
            }
        }


        .profile_item {
            background: rgba(215, 225, 235, 0.128);
            box-shadow: 0 8px 32px 0 rgba(155, 207, 242, 0.37);
            border-bottom: 1px solid #bbb;
            transition: all 0.5s;
            border-radius: 20px;

            .profile_item_header {
                border-bottom: 1px solid rgb(231, 231, 231);

                .profile_items {
                    flex-flow: column;
                }



                h3 {
                    margin: 0;
                    font-size: 1.125rem;
                    font-weight: 500;
                    line-height: 1.5rem;
                    text-transform: capitalize;
                    color: #333;
                }

                p {
                    margin-top: 0.1875rem;
                    font-size: .875rem;
                    line-height: 1.0625rem;
                    color: #555;
                }
            }


            .profile_item_body {
                margin-top: 20px;
                display: flex;
                padding-bottom: 20px;

                .profile_item_info {
                    // border-right: 1px solid #e4e1e163;

                    .profile_item_form {
                        padding-right: 1.125rem;

                        .form-row {
                            .form {
                                display: flex;

                                .form-lable {
                                    display: flex;
                                    margin: 0;
                                    font-weight: 400;
                                    font-style: italic;
                                    color: rgb(148, 148, 148);
                                }

                                .input-group {
                                    display: flex;
                                    flex-wrap: wrap;

                                    .input-group-prepend {
                                        padding-right: 5px;

                                        .input-group-text {
                                            border-radius: 50%;
                                            border: 1px solid #00BFFF;
                                            height: 40px;
                                            width: 40px;
                                            justify-content: center;
                                        }
                                    }

                                    .custom-selects {
                                        border: none;
                                        background-color: transparent;
                                        border-bottom: 1px solid #00BFFF;
                                        background: none;
                                        border-bottom-right-radius: 5px;

                                        &:focus {
                                            outline: none;
                                            border: none;
                                            border-bottom: 1px solid #00BFFF;
                                        }
                                    }

                                    .form-controls {
                                        border: none;
                                        background-color: transparent;
                                        border-bottom: 1px solid #00BFFF;
                                        background: none;
                                        outline: none;
                                        border-bottom-right-radius: 5px;

                                        &:focus {
                                            outline: none;
                                            border: none;
                                            border-bottom: 1px solid #00BFFF;
                                        }
                                    }
                                }

                                .form-control {
                                    width: 100%;
                                    height: auto;
                                }
                            }

                        }

                    }
                }

                .profile_item_avatar {
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    border-left: 1px solid #e4e1e163;

                    #file_img {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;

                        .destroy {
                            position: absolute;
                            top: 0px;
                            right: 70px;
                            background: white;
                            border: 1px solid #ddd;
                            border-radius: 50%;
                            // padding: 6px 10px;
                            cursor: pointer;
                            font-weight: 900;
                            color: crimson;
                            width: 30px;
                            height: 30px;
                            text-align: center;
                            z-index: 1;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    .profile_item_avatar_body {
                        overflow: hidden;
                        position: relative;
                        // margin: 15px auto;
                        cursor: pointer;
                        width: 101px;
                        height: 101px;
                        padding: 0;
                        border-radius: 10px;
                        border: 1px solid rgb(213, 210, 210);
                        display: flex;
                        border-radius: 50%;

                        .loading-cr {
                            display: flex;
                            align-items: center;
                            text-align: center;
                            width: 100%;
                            justify-items: center;
                            justify-content: center;

                            .span {
                                text-align: center;
                                color: red;
                            }
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            display: block;
                            object-fit: cover;
                            image-rendering: pixelated;
                        }

                        .spans {
                            position: absolute;
                            bottom: -100%;
                            left: 0;
                            width: 100%;
                            height: 50%;
                            background: #fff8;
                            text-align: center;
                            font-weight: 400;
                            text-transform: uppercase;
                            color: rgb(28, 166, 70);
                            transition: 0.3s ease-in-out;

                        }

                        &:hover span {
                            bottom: -15%;
                        }

                        #file_up {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            cursor: pointer;
                            opacity: 0;
                        }
                    }

                }
            }

        }
    }
}

.form-title {
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
    font-family: "MBCorpo Text", "DaimlerCS-Regular", "DaimlerCSArab-Regular", sans-serif;
    padding-bottom: 10px;
    padding-left: 15px;
}

.table-title {
    th {
        text-align: center;
    }
}

.modal-title {
    .profile_item_header {

        h3 {
            margin: 0;
            font-size: 1.125rem;
            font-weight: 500;
            line-height: 1.5rem;
            text-transform: capitalize;
            color: #333;
        }

        p {
            margin-top: 0.1875rem;
            font-size: .875rem;
            line-height: 1.0625rem;
            color: #555;
        }
    }
}

.category_item {
    padding-right: 20px;

    button {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        background-color: rgb(10, 68, 184);
        border: 0;

        i {
            color: #e7e7e7;
        }
    }
}

.width-border {
    width: 225px;
}

td{
    img.avatarTD{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}