.span-edit-cricle {
    display: grid;
}

.DonBaoDuong {
    .ManagerDonBaoDuong-body {
        .LaiThuItems {
            width: 60%;
            height: auto;
            transition: all .4s ease-out;

            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            animation-duration: .3s;

            margin-bottom: 10px;

            .LaiThuItems-border {
                // margin: 2px;

                .LaiThuItems-header {
                    width: 10%;
                    display: flex;

                    .LaiThuItems-img {
                        width: 46px;
                        padding: 2px;

                        img {
                            width: 100%;
                            border-radius: 50%;
                            background-size: cover;
                        }
                    }
                }

                .LaiThuItems-body {
                    display: flex;
                    width: 61%;

                    .LaiThuItems-name {
                        font-family: "MBCorpo Title", "DaimlerCAC-Regular", "DaimlerCACArab-Regular", serif;
                        font-size: 14px;
                        font-weight: 400;
                        font-style: italic;

                        margin-left: 10px;
                        display: flex;
                    }

                    .LaiThuItems-Date {
                        display: flex;
                        align-items: center;
                        padding-right: 2px;
                        padding-left: 2px;
                        animation-duration: .3s;
                        transition: visibility 0s, opacity 0.5s linear;

                        font-family: "MBCorpo Title", "DaimlerCAC-Regular", "DaimlerCACArab-Regular", serif;
                        font-size: 14px;
                        font-weight: 400;
                        font-style: italic;
                        color: rgb(93, 70, 245);
                    }
                }


                .logoMer {
                    display: flex;
                    width: 30%;
                    height: 49px;
                    background-color: black;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    margin: 0;

                    img {
                        height: 30px;
                        border-radius: 50%;
                    }
                }
            }

            // &:hover {
            //     width: 50%;
            //     text-decoration: none;
            //     // background: rgba(159, 201, 243, 0.128);
            //     //background-color: transparent;
            //     box-shadow: 0 8px 32px 0 rgba(184, 220, 245, 0.1);
            //     // border-radius: 20%;
            //     border-top-left-radius: 30px;
            //     border-bottom-left-radius: 30px;
            //     // border: 1px solid rgba(39, 30, 119, 0.37);
            //     // border: 1px solid #f8d4d4;
            //     transition: all .4s ease-in;
            // }
        }
    }
}


//

.nopadding {
    .table>:not(caption)>*>* {
        padding: 3px !important;
    }
}

.Form-Edit-DichVu-body {

    padding-left: 1.5rem;
    padding-right: 1.5rem;

    .check-box-items-baoduong {
        position: absolute;
        right: 50px;
    }

    .Form-BaoDuong-DichVu-body-header {
        color: #333;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font: inherit;
        font-family: "MBCorpo Text", "DaimlerCS-Regular", "DaimlerCSArab-Regular", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.5rem;
        margin: 3rem 0 1.5rem 0;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #e8e8e8;

        img {
            width: 32px;
            height: 32px;
        }

        span {
            font-size: 1.125rem;
            line-height: 1.75rem;
        }
    }

    .Form-BaoDuong-DichVu-body-items {
        .Form-BaoDuong-DichVu-items {
            border: 1px solid #0078d6;
            cursor: pointer;
            width: 260px;
            height: 100%;
            min-height: 100px;
            box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1), 0 2px 4px 0 rgba(0, 0, 0, .1);
            background-color: #fff;

            .Form-BaoDuong-DichVu-items-check {
                padding: 1.5rem 1.5rem 0.5rem 1.5rem;

                .Form-BaoDuong-DichVu-items-name {
                    -webkit-font-smoothing: antialiased;
                    font: inherit;
                    font-family: "MBCorpo Text", "DaimlerCS-Regular", "DaimlerCSArab-Regular", sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 1rem;
                    line-height: 1.5rem;
                    letter-spacing: .025em;
                    margin-right: 2rem;
                    flex-shrink: 1;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }

                .Form-items-check {
                    .check-box-items {
                        height: 36px;
                        width: 36px;
                        border-radius: 50%;
                        vertical-align: middle;
                        appearance: none;
                        -webkit-appearance: none;
                        outline: none;
                        cursor: pointer;
                        border: 1px solid #bbb;
                        background-color: #f4f4f4;
                        outline-offset: 0;
                        overflow: visible;
                        text-transform: none;

                        &:checked {
                            background-color: #0078d6;

                            &::after {
                                content: "\f00c";
                                color: #fff;
                                font-family: "Font Awesome 5 Free";
                                display: inline-block;
                                padding-right: 3px;
                                vertical-align: middle;
                                font-weight: 900;
                                font-size: 18px;
                                font-style: italic;
                                display: flex;
                                justify-content: center;
                                padding-top: 3px;
                            }
                        }
                    }
                }
            }

            .Form-BaoDuong-DichVu-items-thongtin {
                padding: 1.5rem 1.5rem 0 1.5rem;
                color: #0078d6;

                i {
                    font-size: 14px;
                }

                span {
                    -webkit-font-smoothing: antialiased;
                    font: inherit;
                    font-family: "MBCorpo Text", "DaimlerCS-Regular", "DaimlerCSArab-Regular", sans-serif;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 700;
                    letter-spacing: .025em;
                    line-height: 1.5rem;
                }

                &:hover {
                    text-decoration: underline;
                    color: #036dc1;
                }
            }
        }
    }
}